.App {
  text-align: center;
}

.App-logo {
  height: 10em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .My-logo {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
    animation: load 12s linear infinite;
    transform-origin: center;
  }

  @keyframes load {
    0% {
      /* transform: rotate(0deg); */
      stroke-dashoffset: 50;
    }

    50% {
      stroke-dashoffset: 0;
    }

    100% {
      /* transform: rotate(360deg); */
      stroke-dashoffset: -50;
    }
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}